#Contact {
  justify-content: flex-start;

  .details {
    background: white;
    width: 600px;
    max-width: 80vw;
    padding: 20px;
    border-radius: 20px;
    p {
      margin: 10px;
      max-width: 80%;
    }
  }
}
